body{
    font-family: 'Open Sans', sans-serif;
    background:#222222;
}
nav{
    border: 1px solid #5a5959;  
}
.carousel-caption {
    text-align: center;
    max-width: 500px;
    left: 35%;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
  }
strong{
    color:#e21e25;
}
article, #block-red {
    font-size: xx-large;
}
article, h2, p{
    font-family: 'Open Sans', sans-serif;
    color: white;
}
#block-red{
    border:3px solid #e21e25;
    background-color: #e21e25;
    font-weight: bold;
    color: #222222;
}
